---
import { Icon } from 'astro-icon';

const {
	label = 'Toggle the menu',
	class:
		className = 'ml-1.5 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-full text-sm p-2.5  items-center transition sm:hidden inline-flex',
	iconClass = 'w-6 h-6',
	iconName = 'tabler:menu',
} = Astro.props;
---

<script>
	import { attachEvent } from '~/utils/helpers';

	window.onload = () => {
		attachEvent('[data-aw-toggle-menu]', 'click', function (elem) {
			elem.classList.toggle('expanded');
			document.body.classList.toggle('overflow-hidden');
			document.getElementById('menu')?.classList.toggle('hidden');
		});
	};

	window.onpageshow = function () {
		const elem = document.querySelector('[data-aw-toggle-menu]');
		if (elem) {
			elem.classList.remove('expanded');
		}
		document.body.classList.remove('overflow-hidden');
		document.getElementById('menu')?.classList.add('hidden');
	};
</script>

<button type="button" class={className} title={label} aria-label={label} data-aw-toggle-menu>
	<Icon name={iconName} class={iconClass} optimize={false} />
</button>
