---
import SectionLayout from '~/layouts/SectionLayout.astro';

import { RESUME } from '~/config.mjs';
import Picture from '~/components/core/Picture.astro';

const { about, skills, services } = RESUME;
---

<script>
	import { initTabs } from '~/utils/helpers';
	initTabs('.trigger', '.tab-area');
	initTabs('.tab', '.tab-content');

	const tabs = document.querySelectorAll('.tab');

	const triggers = document.querySelectorAll('.trigger');

	tabs.forEach((tab) => {
		tab.addEventListener('click', (e) => {
			const tab = e.target as HTMLElement;

			tabs.forEach((tab) => {
				tab.classList.remove('tab-active');
			});

			tab.classList.add('tab-active');
		});
	});

	triggers.forEach((trigger) => {
		trigger.addEventListener('click', (e) => {
			const trigger = e.target as HTMLElement;

			triggers.forEach((trigger) => {
				trigger.classList.remove('trigger-active');
			});

			trigger.classList.add('trigger-active');
		});
	});
</script>

<SectionLayout id="about" title="About Me" description="Learn more about me" hasHeader={true}>
	<div class="mx-auto max-w-5xl flex flex-col sm:flex-row m-10 sm:mt-20">
		<div
			class="flex flex-row sm:flex-col items-start justify-around sm:justify-start w-full sm:w-2/5 p-5 sm:py-10 text-xs font-semibold sm:mx-4 m-0"
		>
			<button class="trigger trigger-active" data-tab="aboutme">
				<span class="mr-4 sm:inline-flex hidden">/01</span>
				About Me
			</button>
			<button class="trigger" data-tab="skills">
				<span class="mr-4 sm:inline-flex hidden">/02</span>
				My Skills
			</button>
			<button class="trigger" data-tab="services">
				<span class="mr-4 sm:inline-flex hidden">/03</span>
				Services
			</button>
		</div>
		<div class="w-full sm:w-3/5">
			<div class="flex flex-col tab-area" id="aboutme">
				<h3 class="mb-2 text-xl text-center sm:text-start font-semibold">{about.name}</h3>
				<h4 class="mb-8 text-xs text-center sm:text-start font-semibold dark:text-gray-400">{about.profession}</h4>
				{
					about.summary
						.split('\n\n')
						.map((paragraph) => (
							<p
								class="text-sm text-center sm:text-start font-normal -tracking-wide dark:text-gray-400 mb-4"
								set:html={paragraph}
							/>
						))
				}
				{
					about.files.resume ? (
						<a href={about.files.resume} class="btn" target="_blank" rel="noopener noreferrer">
							Download Resume
						</a>
					) : null
				}
			</div>
			<div class="flex-col tab-area hidden" id="skills">
				<div class="tabs justify-center">
					{
						skills.map((skillGroup, i) => (
							<button class={`tab tab-bordered ${(i === 0 && 'tab-active') || ''}`} data-tab={skillGroup.name}>
								{skillGroup.title}
							</button>
						))
					}
				</div>
				<div class="p-8">
					{
						skills.map((skillGroup, i) => (
							<ul
								id={skillGroup.name}
								class={`grid grid-cols-3 sm:grid-cols-4 gap-6 sm:gap-4 h-full tab-content ${
									(i !== 0 && 'hidden') || ''
								}`}
							>
								{skillGroup.items.map((skill) => (
									<li class="text-gray-800 dark:text-gray-300 text-sm text-center font-medium">{skill}</li>
								))}
							</ul>
						))
					}
				</div>
			</div>
			<div class="flex-col tab-area hidden" id="services">
				<div class="w-full h-full flex flex-col sm:flex-row items-center">
					{
						services.map((service) => (
							<div class="w-full p-4">
								<div class="flex flex-col items-center justify-center h-full">
									<div class="tooltip" data-tip={service.description}>
										<div class="flex items-center justify-center cursor-pointer w-16 h-16 rounded-full bg-gray-100 dark:bg-gray-800">
											<Picture src={service.icon} widths={[48, 48]} alt={service.title} />
										</div>
									</div>
									<h3 class="text-gray-800 dark:text-gray-100 text-lg font-semibold mt-4">{service.title}</h3>
									<div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2" />
								</div>
							</div>
						))
					}
				</div>
			</div>
		</div>
	</div>
</SectionLayout>
